
*{
    margin:0;
    padding: 0;
}
a{
    text-decoration: none;
}
header{
    margin-bottom: 10px;
}
header nav{
    background-color: rgba(165, 42, 42, 0.5);
    padding: 10px;
    text-align: center;
}
header nav li{
    list-style-type: none;
    display: inline-block;
}
header a{
    color: black;
    padding: 5px 10px;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
}
header a:hover{
    background-color: aliceblue;
}
.aVenir{
    background-color: green;
    color: white;
}
.passe{
    background-color: rgba(165, 42, 42, 1);
    color: white;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}
.list>div{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid burlywood;
}
div a{
    padding: 5px;
}
form{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 450px;
    padding: 5px;
    gap: 10px;
    border: 1px solid #be7575;
    border-radius: 5px;
}
form div{
    display: flex;
    justify-content: space-between;
}
form div:last-of-type{
    justify-content: center;
}
form button{
    padding: 5px 10px;
}
table{
    margin: auto;
}
